body {
  background-color: white; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.square {
  border: 1px solid #cccccc;
  width: 10px;
  height: 10px;
  float: left;
  margin: 0; }

#generator_form {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 2;
  border: 1px solid black;
  padding: 10px; }

.hidden { display: none; }

#board-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

#board {
  width: 600px;
  height: 600px; }

.bone {
  background-color: black; }

.head {
  background-color: #FFD700; }

.food {
  background-color: red; }
